@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
}
body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}
._navbar {
  padding-top: 10px;
  height: 60px;
  position: fixed;
  background-color: rgba(2, 2, 2, 0.1);
  width: 100%;
  ._navbarLeft {
    width: 20%;
    float: left;
    ._navbarButton {
      padding: 5px;
      font-size: larger;
      color: black;
      font-weight: bold;
    }
  }
  ._navbarRight {
    width: 80%;
    float: right;
    text-align: right;
    justify-content: right;
    ._navbarButton {
      padding: 10px;
      font-size: medium;
      color: black;
      font-weight: 600;
    }
  }
}

#backToTopBtn {
  position: fixed;
  padding: 0;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  background: #e62739;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

.services {
  height: 100vh;
  background-color: aqua;
}
.about {
  height: 100vh;
  background-color: gray;
}
.references {
  height: 100vh;
  background-color: wheat;
}

.home {
  height: 100vh;
  padding-top: 70px;
  position: relative;
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background: white url("./Images/mainPage.jpg") no-repeat fixed center;
  color: #27b0e6;
}

.contact {
  height: 100vh;
  background-color: green;
}
.help {
  height: 100vh;
  background-color: blue;
}

.Content {
  position: absolute;

  // transform: translate(-50%, -50%);
  text-align: center;
}
.slideNext {
  position: relative;
  bottom: 0;
  animation: move ease 2s alternate;
  color: white;
  ._slideNextButton {
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    border-radius: 50%;
  }
}
._slideNextButton {
  position: fixed;
}
.nextPageArrow {
  color: white;
}
@keyframes move {
  0% {
    bottom: 0;
  }
  25% {
    bottom: 10px;
  }
  50% {
    bottom: 15px;
  }
  75% {
    bottom: 10px;
  }
  100% {
    bottom: 0;
  }
}
